@import '~variables'
$height-nav-header = 150px

.slide-aux {
    animation-duration: 0.35s
    animation-fill-mode: both
}

.md-nav {
    padding: 0
    border: none
    > .q-list, > span > .q-list {
        border: none
    }
    .md-nav-header {
        border: none
        line-height: initial
        height: $height-nav-header
        background-color: $primary
        padding: 0px 15px
        box-sizing: border-box
        > .md-nav-collapsible .q-item {
            padding: 0
            color: #ffffff
        }
    }
    .caption {
        color: #ffffff
        font-weight: 500
    }
    .md-nav-avatar {
        height: 65px
        border-radius: 50%
    }
    .q-collapsible-sub-item {
        padding: 0
    }
    .md-nav-collapsible {
        padding: 0
        &.q-collapsible-closed .q-collapsible-inner {
            border: none
        }
        &.q-collapsible-opened .q-collapsible-inner {
            box-shadow: none
            border: 1px solid #e0e0e0
        }
    }
    .q-item-icon {
        color: $primary
    }
    .q-collapsible-toggle-icon {
        color: $secondary
    }

    .slide {
        /*&-enter-active,
        &-leave-active {
            // @extend .slide-aux
            animation-name: fadeInDown
        }
        &-enter,
        &-leave-to {
            @extend .slide-aux
            animation-name: fadeOutUp
        }*/
        &-enter-active,
        &-leave-active {
            // transition: all .3s ease-out
            transition: opacity .25s ease-out
        }
        &-enter,
        &-leave-to {
            // transform: translateY(50%)
            opacity: 0
        }
    }
}