@import '~variables'
$height-nav-header = 60px

.md-nav {
    padding: 0
    border: none
    .md-nav-header {
        // height: $height-nav-header
        background-color: $primary
        padding: 10px 15px
    }
    .caption {
        color: #ffffff
        font-weight: 500
    }
}