<q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
        color="primary"
      >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Quasar App
          <div slot="subtitle">Jesús - Quasar v{{ $q.version }}</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? null : null"
    >
      <q-list
        link
        class="md-nav"
      >
        <q-list-header class="md-nav-header column">
          <div class="row flex-center col-grow">
            <img class="md-nav-avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRU1gJrTqXMz_DO0hDOyo2cMMJ76hmIfrTMA5mCalphghLhxkTj" />
          </div>
          <div class="caption">Colegio</div>
          <q-collapsible label="Usuario" class="md-nav-collapsible" v-model="estadoUsuario" />
        </q-list-header>
        <transition
          appear
          name="slide"
          mode="out-in"
        >
          <q-list v-if="!estadoUsuario" key="menu">
            <q-item>
              <q-item-side icon="home" />
              <q-item-main label="Inicio" />
            </q-item>
            <q-collapsible
              class="md-nav-collapsible"
              icon="mail"
              label="Mensajeria"
              popup
            >
              <q-item link>
                <q-item-side icon="home" />
                <q-item-main label="Recibidos" />
              </q-item>
              <q-item link>
                <q-item-side icon="home" />
                <q-item-main label="Enviados" />
              </q-item>
              <q-item link>
                <q-item-side icon="home" />
                <q-item-main label="Papelera" />
              </q-item>
            </q-collapsible>
            <q-item @click.native="openURL(item.url)" v-for="(item, index) in arrUrl" :key="index">
              <q-item-side :icon="item.icon" />
              <q-item-main :label="item.label" :sublabel="item.sublabel" />
            </q-item>
          </q-list>
          <q-list v-else key="usuarios">
            Hola
          </q-list>
        </transition>
        <!--<transition
        appear
        enter-active-class="animated fadeInDownBig"
        leave-active-class="animated fadeOutUpBig"
        >
          <q-list v-if="estadoUsuario">
            Hola
          </q-list>
        </transition>-->
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>